
body{
    /** Fond noir, couleur blanche et typographie monospace **/
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
    
    /** permet de centrer les éléments dans la page **/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/** paramêtrage du ou des "objets" terrain **/
#terrain{
    position: relative;
    
    border: 1px solid white;
    width: 800px;
    height : 400px;
    
}

/** paramêtrage du ou des "objets" balle **/
#balle{
    position: absolute;
    top : 50%;
    left: 50%;

    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #fff;

}
